    

    body{
      background-image: url('./assets/img/background.png');     
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

    }
    .app {
      
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        display: grid;
               
        grid-template-columns: 600px auto;
        grid-template-rows: 6vh 94vh;
        grid-template-areas:
          'header header'
          'listContract main'

          
      }
      
      .header {
        grid-area: header;
      }
      
      .main {
        grid-area: main;
      }
      
      .listContract {
        grid-area: listContract;
      }

    


