.root{   
    
    margin-left: 20px;
    margin-right: 20px;
    height: 87vh;  
    min-height: 570px; 
    margin-top: 20px;    
    border-radius: 20px;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.35);
}

