.root{    
    
    
    //filter: blur(0px);
    
    // ::-webkit-scrollbar {
    //     width: 0;
    //   }


}
// .root:before {
//     content: "";
//     height: 90vh;
//     position: absolute;
//     width: 600px;   
//     box-shadow: inset 0 0 0 600px rgba(255, 255, 255, 0.35s);
//     filter: blur(20px);
//     z-index: -1;
   
//   }



.headlist{
    padding-top: 8px;
    height: 25px;
    margin: 0;
    background-color: rgb(64, 199, 129);
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    border-bottom: 2px groove rgb(230, 230, 230);
}

.listContract{
    box-shadow: inset 0 0 0 600px rgba(255, 255, 255, 0.35);     
    height: 94vh;    
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px; /* ширина для вертикального скролла */    
        background-color: '';
        box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.45);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(109, 125, 128);    
    }

}



.footerlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: sticky;
    bottom: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 8px;
    background-color: rgb(64, 199, 129);; 
}



