.inputRow{    
            display: grid;
            //grid-template-columns: 15rem repeat(8,1fr);
            grid-template-columns: 8rem 15rem repeat(13, minmax(60px, 1fr)) 2rem;
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;
            border-bottom: 2px groove rgb(230, 230, 230);     
            font-weight: 600;
            div{
            text-align: center;
            }
            img{
                height: 1.5rem;
                cursor: pointer;
            }
        
}