.root{
    display: grid;
    grid-template-columns:  8rem 15rem 0.5fr 0.5fr 2fr 0.5fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    user-select: none;
    border-bottom: 2px groove rgb(230, 230, 230);
    align-items: center;
}

.input{  
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    //background:#bada55;
    border:1px solid white;
    border-radius: 5px;
    //padding: 3px;
    font-weight: 600;
    font-size: 14px;
    padding: 0;
    //margin: 0 0 0 5px; 
    
    width: 100%; 
    height: 90%;
    &:disabled{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        border: none;
        font-weight: 600;
        color: black;
    }
    

//     &::-webkit-outer-spin-button,
//     &::-webkit-inner-spin-button {
//     -webkit-appearance: none;
// }

   }

   .arrowUp{
    display: block;
    height: 20px;
    margin-bottom: 2px;
    cursor: pointer;
   }
   .arrowDown{
    display: block;
    height: 20px;
    transform: rotate(180deg);
    cursor: pointer;
   }
   .arrow{
    display: grid;
    grid-template-columns: 5rem auto;
    justify-items: center;
    align-items: center;
   }


   .highlight{
    width: 100%;
    display: grid;
    background-color: rgba(217, 255, 79, 0.4);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    align-items: center;
   }
   .nohighlight{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    align-items: center;
   }
   .planDate{
width: 100%;
   }